<div class="module">
	<div class="container-fluid">
		<div class="module-heading">Role Manager</div>
		<div class="module-body">
			<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label *ngIf="!hasPermission('eds-user-manager:role-manager-add')" class="btn btn-xs btn-success pull-right disabled" style="cursor:not-allowed">Add new</label>
						<label *ngIf="hasPermission('eds-user-manager:role-manager-add')" class="btn btn-xs btn-success pull-right" style="cursor:pointer" (click)="addRole()">Add new</label>
						Roles
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="table" style="margin-bottom: 15px">
							<div class="row">
								<div class="form-group">
									<div class="col-md-7">
										<select class="form-control" [(ngModel)]="selectedOrganisation" (ngModelChange)="setOrganisation($event)" name="Organisation" #organisation>
											<option *ngFor="let item of userOrganisations" [ngValue]="item">{{item.name}}</option>
										</select>
									</div>
									<div class="col-md-5">
										<div class="input-group">
											<input class="form-control" type="text" [(ngModel)]="searchTerm" (keyup)="searchRoles()" name="searchTerm" placeholder="Search term...">
											<span *ngIf="searched" class="btn input-group-addon" (click)="clearSearch(); ">
												<i class="fa fa-remove" title="Clear search"></i>
											</span>
											<span class="btn input-group-addon" (click)="searchRoles()">
												<i class="fa fa-search" title="Search"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="table scroll-box-350 form-control" style="height:100%; min-height: 620px;">
							<loadingIndicator [done]="filteredRoleList">
								<table class="table table-striped table-condensed">
									<thead>
									<tr>
										<th class="col-md-7"  (click)="sortField='name'; sortReverse=!sortReverse">Name
											<span *ngIf="sortField == 'name'"
												  class="fa fa-sm"
												  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>

										</th>
										<th class="col-md-5" (click)="sortField='organisation'; sortReverse=!sortReverse">Organisation
											<span *ngIf="sortField == 'organisation'"
												  class="fa fa-sm"
												  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
										</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let role of getRoleList()" class="hover-box show-child-on-hover"
										(click)="selectedRole = role; "
										[ngClass]="{'selection': role == selectedRole}">
										<td>{{role.name}}</td>
										<td>{{role.group.name}}</td>
									</tr>
									</tbody>
								</table>
							</loadingIndicator>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label *ngIf="selectedRole && !hasPermission('eds-user-manager:role-manager-edit')" class="btn btn-xs btn-success pull-right disabled" style="cursor:not-allowed">Edit</label>
						<label *ngIf="selectedRole && hasPermission('eds-user-manager:role-manager-edit')" class="btn btn-xs btn-success pull-right" style="cursor:pointer" (click)="editRole(selectedRole)">Edit</label>

						<label *ngIf="selectedRole && !hasPermission('eds-user-manager:role-manager-delete')" class="btn btn-xs btn-success pull-right disabled" style="cursor:not-allowed">Delete</label>
						<label *ngIf="selectedRole && hasPermission('eds-user-manager:role-manager-delete')" class="btn btn-xs btn-success pull-right" style="cursor:pointer" (click)="deleteRole(selectedRole)">Delete</label>

						Role details
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="form-group col-md-12" *ngIf="selectedRole==null">No user role</div>
						<div class="table" *ngIf="selectedRole">
							<div class="row">
								<div class="form-group col-md-6">
									<div>
										<label class="control-label">Name</label>
										<input type="text" readonly="true" class="form-control" [(ngModel)]="selectedRole.name" name="rolename">
									</div>
									<div>
										<label for="roledescription">Description</label>
										<textarea class="form-control" readonly="true" id="roledescription" [(ngModel)]="selectedRole.description" name="roledescription"></textarea>
									</div>
									<div>
										<label class="control-label">Organisation</label>
										<input type="text" readonly="true"  class="form-control" [(ngModel)]="selectedRole.group.name" name="organisation">
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Client Access Profile</label>
									<span class="list-group">
										<li class="list-group-item" *ngFor="let clientrole of selectedRole.clientRoles"
											readonly="false" value="{{clientrole.uuid}}">{{clientrole.name}}
											<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{clientrole.description}}" *ngIf="clientrole.description"></span>
										</li>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
